.wrapper {
  margin: 1rem;
  overflow: hidden;
  position: relative;
  transition: 0.3s all;
  width: 200px;

  &::before {
    background: linear-gradient(
      35deg,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0.4)
    );
    bottom: 30%;

    content: "";
    left: -50%;
    opacity: 0;
    position: absolute;
    right: -20%;
    top: -20%;
    transform: rotate(-7deg) translate(10%, -90%);
    transition: 0.3s all;
    z-index: 5;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);

    &::before {
      opacity: 1;
      transform: rotate(-7deg) translateY(0%);
    }
  }
}

.isOptional {
  width: 150px;

  .title {
    h3 {
      font-size: 1.4rem !important;
    }

    h4 {
      font-size: 1rem !important;
    }
  }

  .footer {
    height: 30px;
  }
}

.platforms {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 2;

  svg {
    cursor: pointer;
    height: 2.5rem;
    margin-bottom: 2rem;
    width: 2.5rem;
  }
}

.thumbnail {
  align-items: center;
  background: $black;
  box-shadow: 0 -3px 73px -10px rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  position: relative;

  width: 100px;
  width: 100%;

  &::before {
    background: linear-gradient(
      -120deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%
    );
    content: "";
    inset: 0;
    position: absolute;
    z-index: 1;
  }

  img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 0;
  }
}

.footer {
  color: $mouse-white;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: flex-start;
  padding: 1.5rem;
  position: relative;
  z-index: 5;
}

.title {
  margin: 0;

  h3 {
    color: $white;
    font-size: $font-size-l;
    font-weight: $font-weight-regular;
    margin: 0;
  }

  h4 {
    color: $dimmed-white;
    font-size: $font-size-s;
    font-weight: $font-weight-thin;
    margin: 0;
  }
}

.actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  button {
    background: none;
    height: 30px;
    margin-left: 1rem;
    padding: 0;
    width: 30px;
  }
}

.checkbox {
  bottom: 1rem;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 1rem;
  width: 20px;
}

.year {
  color: $white;
  font-size: $font-size-m;
  left: 1rem;
  letter-spacing: 3px;
  position: absolute;
  text-shadow: 0 0 31px rgba(0, 0, 0, 1);
  top: 1rem;
  z-index: 3;
}
