.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: $mouse-white;
  font-size: $font-size-m;
  font-weight: $font-weight-thin;
  letter-spacing: 5px;
  margin-bottom: 5rem;
  margin-top: 2rem;
  text-transform: uppercase;

  strong {
    font-weight: $font-weight-bold;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 1390px) {
    flex-direction: row;
    align-items: center;
  }
}

.separator {
  width: 1rem;
}

%dot {
  background: none;
  background-color: $mouse-white;
  border: solid 1px $mouse-white;
  border-radius: 50%;
  height: 0.6rem;
  margin-top: 2rem;
  width: 0.6rem;
}

.dot {
  @extend %dot;
}

.line {
  background: $mouse-white;
  height: 8rem;
  margin: 0 auto;
  margin-top: 3rem;
  width: 1px;
}

.isDone {
  background: $mouse-white;
}

.canonical,
.optional {
  display: flex;
  flex-wrap: wrap;
}

.optional {
  max-width: 600px;
  position: relative;
}

.canonical {
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  padding: 3rem 1rem;

  @media screen and (min-width: 1390px) {
    margin-right: 3rem;
    padding: 3rem;
  }
}

.sideLine {
  border-right: solid 1px $mouse-white;
  border-top: none;
  margin-top: 15rem;
  height: 8rem;
  position: relative;
  right: 4rem;
  width: 8rem;

  @media screen and (min-width: 1390px) {
    margin-top: 0;
    border-top: solid 1px $mouse-white;
  }
}

.sideDot {
  @extend %dot;
}

.sideSeparator {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -9rem;
}

.optionalWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.optionalTilesWrapper {
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
}
