.modal {
  background: black;
}

:global(.ReactModalPortal) {
  position: relative;
  z-index: 999;
}

:global(.ReactModal__Overlay) {
  background-color: rgba(0, 0, 0, 0.6) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}

:global(.ReactModal__Content) {
  max-width: 1000px;

  position: relative;
  margin: 0 auto;
  max-height: 1000px !important;
  right: initial !important;
  left: initial !important;
  width: 80%;

  background-color: rgba($color: #2b2b2b, $alpha: 1) !important;

  border: none !important;
}

.wrapper {
  min-height: 300px;
  padding: 3rem;
  color: white;
  font-size: 1.6rem;
  background-color: rgba($color: #2b2b2b, $alpha: 1);
}

.close {
  position: absolute;
  right: 3rem;
  top: 3rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 100px;

  svg {
    fill: white;
  }
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 3rem;

  svg {
    width: 2rem;
    height: 2rem;
    color: white;
    fill: white;
    margin-right: 1rem;
  }

  font-size: 2.5rem;
}
