@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  background: linear-gradient(-50deg, rgba(0, 0, 0, 1) -50%, rgba(35, 35, 35, 1) 150%);
  font-family: "Montserrat";
  font-size: 62.5%; // 1rem = 10px
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
